<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mapper.ReplyMapper">

	<delete id="deleteEvent">
		delete from tbl_calendar
		where title = #{title}
		and start_date = #{start}
		and end_date = #{end}
	</delete>

	<insert id="insertEvent"> <!-- -->
		insert into tbl_calendar(title, start_dat, end_date)
		values(#{title}, #{start}, #{end})
	</insert>


	<select id="fullData" resultType="map">
		select title as "title"
		,start_date as "start"
		,end_date as "end"
		from tbl_calendar
	</select>

	<select id="replyListAll" resultType="reply" parameterType="int">
		select*

		from tbl_reply
		where board_no = #{boardNo}
	</select>


	<insert id="insertReply" parameterType="reply">
		<selectKey keyProperty="replyNo" resultType="int"
			order="BEFORE">
			select reply_seq.nextval from dual
		</selectKey>

		insert into tbl_reply (reply_no, reply, replyer, board_no)
		values(#{replyNo}, #{reply}, #{replyer}, #{boardNo})

	</insert>

</mapper>